$themes:(
    light:(
        textColor:black,
        bg:white,
        logo:darkblue,
        bgSoft:#f6f3f3,
        textColorSoft:#555,
        border:lighgray,
    ),

    dark:(

        textColor:whitesmoke,
        bg:#222,
        logo:lightblue,
        bgSoft:#2d2d2d,
        textColorSoft:#ccc,
        border:darkgray,
    )
);


@mixin mobile{
    @media (max-width: 1100px){
        @content;
    }
}